<!DOCTYPE html>
<html>
    <head>
        <title>Stylus Monitor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #f0f0f0;
                font-family: sans-serif;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }
        </style>
    </head>
    <body>
        <!-- You can embed arbitrary HTML here. -->
        Hello, world!
    </body>
</html>
